@import 'src/static/styles/helpers';

.wrapper {
    @include flex-center();
    background-color: $light-color;
    height: 100%;
    min-height: calc(100vh - 310px);
}

.content {
    text-align: center;
    @include my(2rem);
    @include mx(1rem);
}

.statusCode {
    @include font-size(96);
    @include my(0);
}

.text {
    color: $grey-color;
    @include font-size(24);
}
