@import 'variables';
@import 'mixins';

@font-face {
  font-family: $rubik-font;
  font-weight: $font-regular-weight;
  font-style: $font-normal-style;
  src: url('./../fonts/rubik/Rubik-Regular.ttf') format('truetype'), url('./../fonts/rubik/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: $rubik-font;
  font-weight: $font-regular-weight;
  font-style: $font-italic-style;
  src: url('./../fonts/rubik/Rubik-Italic.ttf') format('truetype'), url('./../fonts/rubik/Rubik-Italic.woff') format('woff');
}

@font-face {
  font-family: $rubik-font;
  font-weight: $font-bold-weight;
  font-style: $font-normal-style;
  src: url('./../fonts/rubik/Rubik-Bold.ttf') format('truetype'), url('./../fonts/rubik/Rubik-Bold.woff') format('woff');
}

@font-face {
  font-family: $rubik-font;
  font-weight: $font-bold-weight;
  font-style: $font-italic-style;
  src: url('./../fonts/rubik/Rubik-BoldItalic.ttf') format('truetype'), url('./../fonts/rubik/Rubik-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: $inknut-antiqua-font;
  font-weight: $font-regular-weight;
  font-style: $font-normal-style;
  src: url('./../fonts/inknutantiqua/InknutAntiqua-Regular.ttf') format('truetype'), url('./../fonts/inknutantiqua/InknutAntiqua-Regular.woff') format('woff');
}

@font-face {
  font-family: $inknut-antiqua-font;
  font-weight: $font-bold-weight;
  font-style: $font-normal-style;
  src: url('./../fonts/inknutantiqua/InknutAntiqua-Bold.ttf') format('truetype'), url('./../fonts/inknutantiqua/InknutAntiqua-Bold.woff') format('woff');
}

