@import 'variables';
@import 'mixins';

@include font-face($rubik-font, $font-normal-style, $font-regular-weight, './../fonts/rubik/Rubik-Regular');
@include font-face($rubik-font, $font-italic-style, $font-regular-weight, './../fonts/rubik/Rubik-Italic');
@include font-face($rubik-font, $font-normal-style, $font-bold-weight, './../fonts/rubik/Rubik-Bold');
@include font-face($rubik-font, $font-italic-style, $font-bold-weight, './../fonts/rubik/Rubik-BoldItalic');

@include font-face($bitter-font, $font-normal-style, $font-regular-weight, './../fonts/bitter/Bitter-Regular');
@include font-face($bitter-font, $font-italic-style, $font-regular-weight, './../fonts/bitter/Bitter-Italic');
@include font-face($bitter-font, $font-normal-style, $font-medium-weight, './../fonts/bitter/Bitter-Medium');
@include font-face($bitter-font, $font-italic-style, $font-medium-weight, './../fonts/bitter/Bitter-MediumItalic');
@include font-face($bitter-font, $font-normal-style, $font-bold-weight, './../fonts/bitter/Bitter-Bold');
@include font-face($bitter-font, $font-italic-style, $font-bold-weight, './../fonts/bitter/Bitter-BoldItalic');