$base-color: #d0d1d3;
$primary-color: #ff6046;

$white-color: #ffffff;
$light-color: #f3f3f3;
$black-color: #000000;
$dark-color: #2b2b2b;
$grey-color: #666666;

$poppins-font: 'Poppins', sans-serif;
$merriweather-font: 'Merriweather', serif;

$font-light-weight: 300;
$font-regular-weight: 400;
$font-bold-weight: 600;
$font-black-weight: 700;

$font-normal-style: normal;
$font-italic-style: italic;

$base-size: 16px;
$base-border-width: 1px;
$base-border-radius: 4px;

$responsive-breakpoints: (
    'mobile': 576px,
    'tablet': 768px,
    'notebook': 992px,
    'laptop': 1200px,
    'desktop': 1600px,
);
