@import 'src/static/styles/helpers';

.box {
    position: absolute;
    bottom: 110px;
    left: 1rem;
    z-index: 75;
    width: calc(100% - 2rem);
    border-radius: 6px;
    background-color: $white-color;
    overflow: hidden;
}

.buttonOption {
    @include flex-center-vert();
    border: 0;
    @include px(1rem);
    @include py(0.75rem);
    width: 100%;
    cursor: pointer;
    transition: background-color 0.05s ease-in-out;

    &:hover,
    &:focus {
        border: none;
        outline: none;
        background-color: $base-color;
    }
}

.flagImage {
    @include box(auto, 24px);
    @include mx(0, 0.5rem);
}

.text {
    @include font-size(14);
}
