@import 'src/static/styles/helpers';

.home {
  background-image: url('../../../static/images/home-bakcground.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  @include py(110px, 0);
  @include my(-110px, 0);
}
