//@import 'static/styles/fonts';
@import 'src/static/styles/helpers.scss';

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: $poppins-font;
    font-weight: $font-regular-weight;
    @include font-size(16);
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &[data-navigation-active='true'] {
        overflow: hidden;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
button,
input,
textarea {
    font-family: $poppins-font;
    font-weight: $font-regular-weight;
    @include font-size(16);
}
